:root{
    --cor-fundo:linear-gradient(to right, rgba(173, 216, 230, 0.821), rgba(0, 0, 139, 0.547));
    --font-titulo:'Poppins', sans-serif;
    --font-botao:'Rubik Distressed', 'cursive';
    --cor-fundo-botao: #ff666691;
    --cor-fundo-botao-hover:red;
    --borda-inputs:2px solid white;

}




/* Remove a formatação original */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

body{
    width: 100%;
    background: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container, é a área do formulario. neste caso está demarcada em branco */
.container{
    width: 800px;
    margin:30px 0 30px 0;
    background: #ffffffbb;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 3px 3px 5px white; 
    padding: 20px;

}

.titulo__principal{
    font-size: 50px;
    text-align: center;
    font-family: var(--font-titulo);
    color: rgba(105, 105, 105, 0.647);
    
}

.p__informacao{
    text-align: center;
    padding-bottom: 30px;
    font-family: var(--font-titulo);
}

#formulario{
    padding: 20px;    
}

.controle__formulario{
    position: relative;
    padding: 0 0 20px 0;
    margin: 0 0 10px 0;
}


.controle__formulario--informacao{
    display: inline-block;
    margin: 0 0 5px 0;

}

.controle__formulario input{
    border: var(--borda-inputs);
    display: block;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    
}

.controle__formulario i{
    position: absolute;
    top: 36px;
    right: 5px;
    visibility: hidden; /* deixa os icon  invisivel - para futuramente alterar no JavaScript*/

}

.controle__formulario small{
    position: absolute;
    bottom: 0px;
    left: 0;
    visibility: hidden;  /* deixa mensagem de erro invisivel - para futuramente alterar no JavaScript*/
} 

input:focus, label:focus{
    outline: none;
}

.informacao__extra--p{
    padding-bottom: 10px;
}

.informacao__extra{
    padding: 5px 0 0 10px;
    display: block;
    font-size: 16px;
    width: 100%;
    height: 100px;
    border: none;
    background: #ffffff90;
    
}

.informacao__extra:focus{
    outline: none;
}


.botao__enviar{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: var(--cor-fundo-botao);
    font-family: var(--font-botao);
    font-size: 25px;
    transition: transform 1s; /* faz a transição de aumento do botão em 1 Segundo*/
    
}

.botao__enviar:hover {  /* Deixa o botão de enviar formulário na cor Red e aumenta o tamanho */
  background: var(--cor-fundo-botao-hover);
  transform: translateX(2px) scale(1.04);
  
}


/* Validações de erro ou sucesso na hora da confirmação */


/* Modifica o elemento do Input ( deixa a borda verde caso a verificação esteja OK) */
.controle__formulario.sucesso input {
    border-color: rgb(47, 202, 112);
  }

  
  /* Modifica o elemento do Input ( deixa a borda vermelha caso a verificação esteja errada) */
  .controle__formulario.erro input {
    border-color: rgb(221, 73, 57);
  }
  
  
  /* Modifica o elemento do Input caso a verificação seja OK (Alterando o icone para visivel e aplicando a cor verde) */
  .controle__formulario.sucesso i.fa-check-circle {
    color: rgb(47, 202, 112);
    visibility: visible;
    
  }


  /* Modifica o elemento do Input caso a verificação esteja errada (Alterando o icone para visivel e aplicando a cor vermelha) */
  .controle__formulario.erro i.fa-exclamation-circle {
    color: rgb(221, 73, 57);
    visibility: visible;
    
  }


  /* Deixa a mensagem de erro visivel caso a resposta do cliente não esteja de acordo com as verificações de cada Input  */
  
  .controle__formulario.erro small {
    color: rgb(221, 73, 57);
    visibility: visible;
    font-weight: bold;
  }